<html>

<head>
  <meta charset=utf-8 />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/Foliotek/AjaxQ/ajaxq.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/marcoschwartz/aREST.js/aREST.js"></script>
  <script type="text/javascript" href="{{ url_for('static', filename='js/script.js') }}"></script>

      <title>Ray's Dog</title>

      <style>
        .box img {
          position: absolute;
          left: 10%;  
          width: 75%;
            height: 80%;
            object-fit: contain;
        }
      </style>
  </head >
      <body>
        <div class="bg-image"></div>
        <div class="box">
          <img src="{{ url_for('video_feed') }}">
        </div>

        <div class="wrapper">
          <div class="center">
              <div class="center-circle"></div>
          </div>
          
          <div class="up direction">
            <div class="up-triangle"></div>
          </div>
        
          <div class="right direction">
            <div class="right-triangle"></div>
          </div>
          <div class="down direction">
            <div class="down-triangle"></div>
          </div>
        
          <div class="left direction">
            <div class="left-triangle"></div>
          </div>
        
        </div>
      </body>
</html >